#mainView {
    -fx-alignment: center;
    -fx-padding: 20px;
}

#controlButtons {
    -fx-padding: 15px 15px 15px 0;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.inputLabel {
    -fx-font-size: 16px;
    -fx-padding: 0 15px 0 5px;
}
